<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ELit"
        tools:targetApi="31">
        <activity
            android:name=".unused.SendOtpCodeActivity"
            android:exported="false" />
        <activity
            android:name=".unused.VerifyOtpActivity"
            android:exported="false" />
        <activity
            android:name=".BooksActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.SearchBookActivity"
            android:exported="false" />
        <activity
            android:name=".admin.MainAdminActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.UsernameForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".admin.UpdateDeleteBookActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.UpdateProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.DetailBookActivity"
            android:exported="false" />
        <activity
            android:name=".LoadingActivity"
            android:exported="false" />
        <activity
            android:name=".unused.UploadBooksActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreenActivity"
            android:theme="@style/SplashScreenTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>